# Cancer Test Results

In [10]:
# load dataset
import numpy as np
import pandas as pd
data = pd.read_csv('cancer_test_data.csv')
data.head()

   patient_id test_result  has_cancer
0       79452    Negative       False
1       81667    Positive        True
2       76297    Negative       False
3       36593    Negative       False
4       53717    Negative       False

In [11]:
# number of patients
data.shape[0]

2914

In [23]:
# number of patients with cancer
data[data['has_cancer'] == True].count()

patient_id     306
test_result    306
has_cancer     306
dtype: int64

In [24]:
# number of patients without cancer
data[data['has_cancer'] == False].count()

patient_id     2608
test_result    2608
has_cancer     2608
dtype: int64

In [29]:
# proportion of patients with cancer
data.has_cancer.mean()

0.10501029512697323

In [30]:
# proportion of patients without cancer
1-data.has_cancer.mean()

0.89498970487302676

In [42]:
data.query('has_cancer')

      patient_id test_result  has_cancer
1          81667    Positive        True
7          77872    Positive        True
8          78761    Positive        True
15         56175    Positive        True
33         43950    Positive        True
62         30975    Positive        True
64         78175    Positive        True
71         46632    Positive        True
72         42326    Positive        True
73         41219    Positive        True
82         69526    Negative        True
88         40948    Positive        True
117        33874    Positive        True
121        79865    Positive        True
143        50527    Positive        True
163        61222    Negative        True
169        49053    Positive        True
189        79204    Positive        True
201        34671    Negative        True
215        68812    Negative        True
227        50814    Positive        True
229        72703    Positive        True
231        43766    Positive        True
246        43132    Positive        True
252        74598    Positive        True
269        68454    Positive        True
279        80748    Positive        True
287        40586    Positive        True
300        34973    Positive        True
315        30875    Positive        True
...          ...         ...         ...
2675       63153    Positive        True
2694       69424    Positive        True
2698       41616    Positive        True
2699       66623    Positive        True
2706       74980    Positive        True
2717       40794    Positive        True
2723       81493    Positive        True
2729       63493    Positive        True
2730       38744    Positive        True
2736       54175    Negative        True
2742       75831    Positive        True
2761       44917    Positive        True
2762       59923    Positive        True
2775       59548    Positive        True
2776       66247    Positive        True
2780       79781    Positive        True
2783       35049    Positive        True
2802       51320    Positive        True
2803       71428    Positive        True
2809       31478    Positive        True
2821       51057    Positive        True
2826       43359    Negative        True
2828       73568    Positive        True
2846       52663    Negative        True
2851       52776    Positive        True
2864       53991    Positive        True
2871       73979    Positive        True
2878       47914    Positive        True
2887       64791    Positive        True
2889       53368    Positive        True

[306 rows x 3 columns]

In [43]:
data.query('has_cancer == False')

      patient_id test_result  has_cancer
0          79452    Negative       False
2          76297    Negative       False
3          36593    Negative       False
4          53717    Negative       False
5          67134    Negative       False
6          40436    Negative       False
9          71212    Negative       False
10         66393    Positive       False
11         35104    Negative       False
12         74296    Negative       False
13         56940    Positive       False
14         56242    Negative       False
16         45732    Negative       False
17         35367    Negative       False
18         34126    Negative       False
19         76668    Negative       False
20         51722    Negative       False
21         51194    Negative       False
22         76364    Negative       False
23         63803    Negative       False
24         35843    Negative       False
25         57623    Negative       False
26         32825    Positive       False
27         66647    Negative       False
28         65463    Negative       False
29         77591    Negative       False
30         78050    Negative       False
31         49872    Negative       False
32         81174    Positive       False
34         62481    Positive       False
...          ...         ...         ...
2882       69597    Negative       False
2883       36449    Negative       False
2884       32031    Negative       False
2885       39022    Negative       False
2886       81033    Negative       False
2888       75201    Negative       False
2890       38830    Negative       False
2891       42570    Negative       False
2892       54947    Positive       False
2893       31596    Negative       False
2894       42476    Negative       False
2895       49026    Negative       False
2896       32894    Negative       False
2897       52828    Negative       False
2898       32116    Negative       False
2899       79534    Negative       False
2900       48273    Negative       False
2901       36766    Negative       False
2902       57527    Positive       False
2903       72709    Positive       False
2904       74064    Positive       False
2905       39654    Negative       False
2906       40038    Negative       False
2907       45242    Negative       False
2908       41566    Negative       False
2909       39378    Negative       False
2910       58684    Negative       False
2911       64038    Negative       False
2912       61290    Positive       False
2913       75721    Positive       False

[2608 rows x 3 columns]

In [38]:
# proportion of patients with cancer who test positive
(data.query('has_cancer')['test_result'] == 'Positive').mean()

0.90522875816993464

In [39]:
# proportion of patients with cancer who test negative
(data.query('has_cancer')['test_result'] == 'Negative').mean()

0.094771241830065356

In [40]:
# proportion of patients without cancer who test positive
(data.query('has_cancer == False')['test_result'] == 'Positive').mean()

0.2036042944785276

In [41]:
# proportion of patients without cancer who test negative
(data.query('has_cancer == False')['test_result'] == 'Negative').mean()

0.79639570552147243